[submodule "module/nchan"]
	path = module/nchan
	ignore=all
	url = https://github.com/slact/nchan.git
[submodule "lua/ABTestingGateway"]
	path = lua/ABTestingGateway
	ignore=all
	url = https://github.com/CNSRE/ABTestingGateway.git
[submodule "module/nginx-upsync-module"]
	path = module/nginx-upsync-module
	ignore=all
	url = https://github.com/weibocom/nginx-upsync-module.git
[submodule "module/nginx_tcp_proxy_module"]
	path = module/nginx_tcp_proxy_module
	ignore=all
	url = https://github.com/yaoweibin/nginx_tcp_proxy_module.git
[submodule "module/stream-echo-nginx-module"]
	ignore=all
	path = module/stream-echo-nginx-module
	url = https://github.com/openresty/stream-echo-nginx-module.git
[submodule "module/nginx-upconf-module"]
	path = module/nginx-upconf-module
	ignore=all
	url = https://github.com/xiaokai-wang/nginx-upconf-module.git
[submodule "module/ngx_sync_msg_module"]
	ignore=all
	path = module/ngx_sync_msg_module
	url = https://github.com/yzprofile/ngx_sync_msg_module.git
[submodule "module/nginx-stream-upsync-module"]
	ignore=all
	path = module/nginx-stream-upsync-module
	url = https://github.com/xiaokai-wang/nginx-stream-upsync-module.git
[submodule "module/ngx_http_proxy_connect_module"]
	ignore=all
	path = module/ngx_http_proxy_connect_module
	url = git@github.com:chobits/ngx_http_proxy_connect_module.git
[submodule "lua/lua-resty-sync"]
	ignore=all
	path = lua/lua-resty-sync
	url = https://github.com/upyun/lua-resty-sync.git
[submodule "lua/proxygateway"]
	ignore=all
	path = lua/proxygateway
	url = https://github.com/ffay/proxygateway.git
[submodule "module/headers-more-nginx-module"]
	ignore=all
	path = module/headers-more-nginx-module
	url = https://github.com/openresty/headers-more-nginx-module.git
[submodule "module/traffic-accounting-nginx-module"]
	ignore=all
	path = module/traffic-accounting-nginx-module
	url = https://github.com/Lax/traffic-accounting-nginx-module.git
[submodule "lua/kong"]
	ignore=all
	path = lua/kong
	url = https://github.com/Kong/kong.git
[submodule "module/ngx_dynamic_limit_req_module"]
	ignore=all
	path = module/ngx_dynamic_limit_req_module
	url = https://github.com/limithit/ngx_dynamic_limit_req_module.git
[submodule "lua/openstar"]
	ignore=all
	path = lua/openstar
	url = https://github.com/starjun/openstar.git
[submodule "lua/slardar"]
	path = lua/slardar
	ignore=all
	url = https://github.com/upyun/slardar.git
[submodule "module/nginx_http_upstream_check_module"]
	ignore=all
	path = module/nginx_http_upstream_check_module
	url = https://github.com/yaoweibin/nginx_upstream_check_module.git
[submodule "module/naxsi"]
	ignore=all
	path = module/naxsi
	url = https://github.com/nbs-system/naxsi.git
[submodule "module/nginx-limit-upstream"]
	ignore=all
	path = module/nginx-limit-upstream
	url = https://github.com/cfsego/nginx-limit-upstream.git
[submodule "module/unit"]
	path = module/unit
	ignore=all
	url = https://github.com/nginx/unit.git
[submodule "plugins/nginx"]
	path = plugins/nginx
	ignore=all
	url = https://github.com/nginxinc/NGINX-Demos.git
[submodule "plugins/nginmesh"]
	path = plugins/nginmesh
	ignore=all
	url = https://github.com/nginxinc/nginmesh.git
[submodule "module/nginx-push-stream-module"]
	path = module/nginx-push-stream-module
	ignore=all
	url = https://github.com/wandenberg/nginx-push-stream-module.git
[submodule "module/nginx-hmux-module"]
	path = module/nginx-hmux-module
	ignore=all
	url = https://github.com/wangbin579/nginx-hmux-module.git
[submodule "lua/lua-resty-http"]
	path = lua/lua-resty-http
	ignore=all
	url = https://github.com/pintsized/lua-resty-http.git
[submodule "lua/lua-resty-checkups"]
	path = lua/lua-resty-checkups
	ignore=all
	url = https://github.com/upyun/lua-resty-checkups.git
[submodule "module/ngx-http-auth-jwt-module"]
	path = module/ngx-http-auth-jwt-module
	ignore=all 
	url = https://github.com/TeslaGov/ngx-http-auth-jwt-module.git
[submodule "module/nginx-module-vts"]
	path = module/nginx-module-vts
	ignore=all
	url = https://github.com/vozlt/nginx-module-vts.git
[submodule "module/nginx-module-stream-sts"]
	path = module/nginx-module-stream-sts
	ignore=all
	url = https://github.com/vozlt/nginx-module-stream-sts.git
